.trainer{
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .msg-box{
        height: 100%;
        border: solid 1px black;
    }
    .msg{
        width: 20px;
        height: 20px;
    }
}