.user-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    .profile ,.actions{
        display: flex;
    flex-direction: row;
    }

    .actions{
        align-content: center;
        justify-content: space-between;
    }
}