.training-bar{
    margin: 30px 0;
}
.training-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    background-color: blue;
    color: white;
    margin-bottom: 20px;
    padding: 10px 20px;
}
.training{
    text-align: center;   
}